html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-image: url("../vite-project/skyBack.jpg");
  background-size: cover;
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 125px;
  height: 175px;
  margin-bottom: 1em;
}

#draw{
  display: none;
  text-align: center;
  margin: auto;
}


/*BUTTONS*/

button {
  border: none;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 40%;
  background-color: rgb(226, 117, 226);
  margin-top: 3em;
  width: 15%;
  height: 10%;
  padding: .3em;

}

button:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-out;

}

#draw{
  display: none;
  text-align: center;
  margin: auto;
}



/*CARDS*/

#cards{
  margin: 1em 0;
}

#cardBorder{
  display: none;
  width: 125px;
  height: 175px;
  border:solid black 3px;
  margin: auto;
  margin-top: 1em;

}

#cardBorder2{
  display: none;
  width: 125px;
  height: 175px;
  border:solid black 3px;
  margin: auto;
  margin-top: 1em;

}



